// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary_color: blue;
$second_color: GhostWhite;


span.question_tag{
  margin: 0.5rem;
  padding: 0.5rem;
  color: black;
  background-color: $second_color;
  border-radius: 1rem;
}
